<img src="../../../../assets/images/qatar2022.jpg" alt="qatar2022">

<mat-card class="card-login">

    <h2>Inicia Sesión en tu cuenta!</h2>

    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
            <mat-form-field>

                <input matInput type="email" name="email" id="email" placeholder="Email" formControlName="email">
                <div *ngIf="f['email'].errors  && f['email'].touched">
                    <mat-error *ngIf="f['email'].errors['required']">El campo Email es requerido</mat-error>
                    <mat-error *ngIf="f['email'].errors['email']">Ingrese un Email valido.</mat-error>
                </div>

            </mat-form-field>

            <mat-form-field>
                
                <input matInput type="password" name="password" id="password" placeholder="Contraseña"
                    formControlName="password">
                <div *ngIf="f['password'].errors  && f['password'].touched">
                    <mat-error *ngIf="f['password'].errors['required']">El campo contraseña es requerido</mat-error>
                    <mat-error *ngIf="f['password'].errors['minlength']">Contraseña debe tener 6 caracteres como minimo
                    </mat-error>
                </div>

            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" routerLink="/user">Iniciar
                Sesión</button>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <p>No tienes una cuenta? <a routerLink="/register">Regístrate</a></p>
    </mat-card-actions>
</mat-card>
  
