.container-home{
    min-height: 100vh;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}



.text,.figuritas{
    width: 100%;
    height: 90vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

.text{
    // background-color: #86113E;
    background-image: url('../../../assets/images/fondoqatar3.webp');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    
    color: whitesmoke;
}

.text h1{
    font-size: 4.5em;
    line-height: 10vh;
    text-align: center;
    margin-top: 4vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

.buttons{
    margin-top: 15vh;
    width: 100%;
    height: 30vh;
}

.buttons button{
    display: block;
    width: 30%;
    height: 8vh;
    margin: 0px auto;
    margin-top: 4vh;
    font-size: 2vw;
    transition: all 300ms;
}

.buttons button:hover{
    background-color: #001220;
    color: whitesmoke;
}

.figuritas{
    background-color: #001220;
    height: 90vh;
    padding-bottom: 7vh;
}
.figuritas p{
    line-height: 8vh;
    font-size: 4.5em;
    color: whitesmoke;
    text-align: center;
    padding-top: 2vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.slider-frame{
    width: 700px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}


.grid-figuritas{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
}

.figurita{
    list-style: none;
    width: 100%;
}
.figuritas img{
    width: 100%;
    height: 75vh;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}


@media (max-width: 900px){
    .figuritas p{
        padding-top: 1vh;
    }

    .slider-frame{
        width: 500px;
    }
    .figuritas img{
        width: 100%;
        height: 65vh;
    }

    .buttons button{
         font-size: 1.5em;
    }
}

@media (max-width: 733px){
    .figuritas p{
        font-size: 3.5em;
    }

    .text h1{
        font-size: 3.5em;
    }

    .buttons button{
        font-size: 1.5em;
        width: 40%;
   }

   .slider-frame{
    width: 400px;
}

}

@media (max-width: 569px){
    .text h1{
        font-size: 2.5em;
    }

    .buttons button{
        font-size: 1.2em;
        width: 40%;
   }

    .figuritas p{
        font-size: 3em;
    }

    .slider-frame{
        width: 350px;
    }
}

@media (max-width: 407px){
    .text h1{
        font-size: 2em;
    }

    .buttons{
        margin-top: 8vh;
    }

    .buttons button{
        font-size: 1.1em;
        width: 45%;
   }

    .figuritas p{
        font-size: 2.3em;
    }

    .slider-frame{
        width: 300px;
    }

}



@media screen and ( max-height: 550px ) {
    .text{
        min-height: 105vh;
    }

    .text h1{
        line-height: 14vh;
    }

    .figuritas p{
        line-height: 14vh;
    }
    
    .figuritas{
        height: 105vh;
    }

    .slider-frame{
        width: 400px;
    }
}