<div class="container-home">
    <div class="box text">
        <h1>
            Crea tu Álbum del Mundial de Qatar 2022 y encontra las figuritas mas buscadas.
        </h1>

        <div class="box buttons">
        <button mat-raised-button routerLink="/register" *ngIf="!logged_in">Crear Mi Álbum</button>
        <button mat-raised-button routerLink="/usuario/mi-album">Ir a Mi Álbum</button>
        </div>

    </div>


    

    <div class="box figuritas">

        <p>Abre sobres y llena tu Álbum</p>
        <div class="slider-frame">
            <ul class="grid-figuritas">
                <li class="figurita">
                <img src="https://mundial-2022-server-production.up.railway.app/api/images/argentina18.jpg" alt="messi"> 
                </li>

                <li class="figurita">
                    <img src="https://mundial-2022-server-production.up.railway.app/api/images/francia17.jpg" alt="mbappe"> 
                </li>

                <li class="figurita">
                    <img src="https://mundial-2022-server-production.up.railway.app/api/images/brasil15.jpg" alt="neymar"> 
                </li>

                <li class="figurita">
                    <img src="https://mundial-2022-server-production.up.railway.app/api/images/portugal14.jpg" alt="cristiano ronaldo"> 
                </li>
            </ul>
        </div>
            
            
    </div>
</div>
