<div class="container-contact">
  <div class="form-contact">
    <h1>Contactame!</h1>
    <form>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="textarea">Mensaje</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <button mat-raised-button>Enviar Mensaje</button>
    </form>
  </div>

</div>
