mat-card{
    display: block;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    min-height: 65vh;
    margin-top: 4vh;
    padding-bottom: 4vh;
    background-color: transparent;
}

mat-card h2 {
    font-size: 3.5em;
    text-align: center;
    line-height: 1em;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

mat-form-field{
    width: 85%;
    height: 10vh;
    margin-top: 1vh;
}

mat-error{
    margin-top: 1.5vh;
}

mat-card button{
    display: block;
    margin: 0px auto;
    margin-top: 2vh;
    width: 85%;
    background-color: #6D59B9;
}

mat-card-actions {
    margin-top: 4vh;
    font-size: 1.5em;
}

mat-card-actions a {
    color: #6D59B9;
}

@media (max-width: 500px){
    
    mat-card h2 {
        font-size: 2em;
    }

    mat-form-field {
        width: 90%;
    }
    
    
    mat-card button {
        width: 90%;
    }

    mat-card-actions {
        font-size: 1.2em;
    }
}

@media screen and ( max-height: 550px ) {

    mat-card{
        padding-bottom: 8vh;
    }

    mat-form-field {
        margin-top: 8vh;
    }

    mat-card button {
        margin-top: 11vh;
    }


}
